doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="Global Opt")
        meta(name="author" content="Melnikov Sergey")
        title Global Opt
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        //- link(rel="stylesheet", href="css/icon.css")
        link(rel="stylesheet" href="css/style.css")
    body
        section.promo
            .container
                .header
                    .logo
                        a(href="#") 
                            img(src="icon/logo.png", alt="logo")
                    nav#menu
                        ul.promo__menu
                            li.promo__item
                                a.promo_link(href="#") Преимущества
                            li.promo__item
                                a.promo_link(href="#") Наша работа
                            li.promo__item
                                a.promo_link(href="#") Цены
                            li.promo__item
                                a.promo_link(href="#") Схема работы
                            li.promo__item
                                a.promo_link(href="#") Отзывы
                            li.promo__item
                                a.promo_link(href="#") Контакты
                    .promo__questions
                        .promo__question Есть вопросы?
                        a.promo__phone(href="tel:+79264230100") +7 (926) 423 01 00
                    button.button.button_main Перезвоните мне
                    .hamburger#hamburger
                        span
                        span
                        span
                .promo__wrapper 
                    h2.promo__subtitle Global Opt - логистика полного цикла из Китая в Россию
                    h1.promo__title ДОСТАВКА ГРУЗОВ ИЗ КИТАЯ
                    .promo__text В РОССИЮ И СНГ ВСЕМИ ВИДАМИ ТРАНСПОРТА
                    .promo__line
                        .promo__line_left
                        .promo__line_center
                        .promo__line_right
                    .promo__icons 
                        .promo__icon
                            img(src="icon/promo/icon_1.png", alt="")
                            .promo__descr Перевозка негабаритных и крупнотоннажных грузов
                        .promo__icon
                            img(src="icon/promo/icon_2.png", alt="")
                            .promo__descr Самостоятельно декларируем и проводим таможенную очистку с оптимизацией кодов и ставок
                        .promo__icon
                            img(src="icon/promo/icon_3.png", alt="")
                            .promo__descr Осуществляем прямые поставки с заводов от двери до двери
                        .promo__icon
                            img(src="icon/promo/icon_4.png", alt="")
                            .promo__descr Экспресс доставка 1-2 дня из Гуанчжоу в Москву от 25$/кг  
                    button.button.button_large Получить расчет
        section.features
            .container 
                h2.subtitle Преимущества работы с GlobalOpt
                .features__wrapper 
                    .features__item 
                        img.features__icon(src="icon/features/icon_1.png", alt="icon")
                        .features__text 
                            .features__subtitle Офисы в Китае и России
                            .features__descr Офисы расположены в Москве, столице России.  И в Гуанчжоу, мировом торговом мегаполисе Китая
                    .features__item 
                        img.features__icon(src="icon/features/icon_2.png", alt="icon")
                        .features__text 
                            .features__subtitle Декларируем груз с оптимизацией
                            .features__descr Идем на встречу своим клиентам и помогаем растаможить груз с оптимизацией кодов и ставок.
                    .features__item 
                        img.features__icon(src="icon/features/icon_3.png", alt="icon")
                        .features__text 
                            .features__subtitle Квалифицированные кадры
                            .features__descr Наши сотрудники имеют большой опыт в логистике с Китаем и в совершенстве владеют китайским и английским языками.
                    .features__item 
                        img.features__icon(src="icon/features/icon_4.png", alt="icon")
                        .features__text 
                            .features__subtitle Осуществляем поиск производителей
                            .features__descr Помогаем нашим клиентам найти интересующий вас товар или производителя в Китае.
                    .features__item 
                        img.features__icon(src="icon/features/icon_5.png", alt="icon")
                        .features__text 
                            .features__subtitle Собственный склад в Китае
                            .features__descr Свой склад в Китае, позволяет собирать и проверять и упаковывать  ваши товары, перед отправкой.
                    .features__item 
                        img.features__icon(src="icon/features/icon_6.png", alt="icon")
                        .features__text 
                            .features__subtitle Перевод денег в Китай
                            .features__descr Помогаем переводить и оплачивать товар в Китае на льготных условиях
                    .features__item 
                        img.features__icon(src="icon/features/icon_7.png", alt="icon")
                        .features__text 
                            .features__subtitle Делаем оптовые поставки под ключ
                            .features__descr Берём на себя все заботы связанные с  закупкой, проверкой на качество, логистикой и растаможкой. От вас требуется лишь заполнить техническое задание, одобрить  образцы товаров и после принять товар на своём складе!
                    .features__item 
                        img.features__icon(src="icon/features/icon_8.png", alt="icon")
                        .features__text 
                            .features__subtitle Поездка на производство в Китай
                            .features__descr У нас большой опыт в бизнес поездках по Китаю. Мы с большой радостью и желанием организуем вам такую поездку в Китай под ключ. Сделаем визу, трансфер из аэропорта, забронируем отель, предоставим переводчика. Организуем поездку на производство. Шоп тур. Мебельный тур. 
        section.work 
            .container
                h2.subtitle Наша работа - больше чем просто доставка
                hr.line 
                .work__descr Мы организуем перевозки из Китая - оперативно и надежно, с учетом особенностей груза и ваших требований по срокам и бюджету.
                .work__wrapper 
                    .work__item 
                        .work__img 
                            img(src="img/jpg/our_work/img_1.jpg", alt="")
                        .work__subtitle Страховка груза
                        .work__text Все грузы, логистику которых осуществляет Global Opt, застрахованы. Мы гарантируем полное возмещение стоимости груза в случаях, предусмотренных страхо- вым соглашением. Все ваши тревоги наша компания берет на себя.
                    .work__item 
                        .work__img 
                            img(src="img/jpg/our_work/img_2.jpg", alt="")
                        .work__subtitle Логистика последней мили
                        .work__text Мы осуществляем доставку вашего груза до конкретного адреса. Привоз согласовывается менед- жерами по телефону, предварительно за сутки и за час до доставки. Также мы предоставляем услуги грузчи- ков по месту доставки груза.
                    .work__item 
                        .work__img 
                            img(src="img/jpg/our_work/img_1.jpg", alt="")
                        .work__subtitle Мы всегда смотрим вперед
                        .work__text Философия нашей компании, делать себя и своих партнеров по всему миру, успешными и богатыми. Поэтому мы всегда открыты к диалогу о партнерстве и инвестициях.
        section.agent 
            .container 
                .agent__icon 
                    img(src="icon/agent-icon.png", alt="agent icon")
                h2.agent__subtitle Агент в Китае
                .agent__text Русскоговорящие представители компании без труда найдут именно тот товар, который будет отвечать Вашим запросам как по качеству, так и по цене.
        section.prices 
            .container 
                h2.subtitle Цены на любой вариант доставки
                .line 
                .prices__descr Перевозки грузов на дальние расстояния без каких-либо ограничений.<br> Любой груз доставим вовремя. 
                .prices__wrapper 
                    .card
                        .card__wrapper 
                            .card__title Доставка морем
                            .card__icon 
                                img(src="icon/prices/icon_1.png", alt="price")
                            .card__delivery Доставка 35-50 дней
                            .card__price от 0,3$ за 1 кг
                            .card__descr Морские перевозки грузов из Китая в Россию за 35 дней с прохождением таможни
                            button.button.button_mini Подробнее
                    .card 
                        .card__wrapper
                            .card__title Ж/Д доставка
                            .card__icon 
                                img(src="icon/prices/icon_2.png", alt="price")
                            .card__delivery Доставка 15-28 дней
                            .card__price от 1$ за 1 кг
                            .card__descr ЖД перевозки грузов из Китая в Россию от 2 недель с прохождением таможни
                            button.button.button_mini Подробнее
                    .card 
                        .card__wrapper
                            .card__title Автодоставка
                            .card__icon 
                                img(src="icon/prices/icon_3.png", alt="price")
                            .card__delivery Доставка 12-20 дня
                            .card__price от 1$ за 1 кг
                            .card__descr Автоперевозки грузов из Китая в Россию от 2 недель с прохождением таможни
                            button.button.button_mini Подробнее
                    .card 
                        .card__wrapper
                            .card__title Авиа доставка
                            .card__icon 
                                img(src="icon/prices/icon_4.png", alt="price")
                            .card__delivery Доставка 1-12 дней
                            .card__price от 6$ за 1 кг
                            .card__descr Авиаперевозки грузов из Китая в Россию до 2 недель с прохождением таможни
                            button.button.button_mini Подробнее
        section.consultation
            .container
                h2.consultation__title Заказать бесплатную консультацию
                form.consultation__form
                    .wrapper
                        .consultation__icon  
                            img(src="icon/consultation.png", alt="consultation")
                    .consultation__wrapper
                        input(type="text" placeholder="Ваше имя...")
                        input(type="text" placeholder="Ваш номер телефона...") 
                        input(type="text" placeholder="Ваш e-mail...")
                    .button__wrapper
                        button.button.consultation__button отправить заявку
        section.managers
            .container
                .managers__icon
                    img(src="icon/managers.png", alt="managers")
                h3.managers__title Менеджеры компании
                .managers__descr Подберут для Вас оптимальную схему грузоперевозки. Проведут контроль закупок, организуют прямые поставки от завода-изготовителя.
        section.scheme 
            .container 
                h2.subtitle Схема работы с нами
                .scheme__list
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_1.png", alt="scheme")
                        .scheme__subtitle Заявка
                        .scheme__descr Вы оставляете заявку на нашем сайте или звоните нам
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_2.png", alt="scheme")
                        .scheme__subtitle Аналитика доставки
                        .scheme__descr Мы просчитываем варианты доставки Вашего груза
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_3.png", alt="scheme")
                        .scheme__subtitle Договор
                        .scheme__descr Заключаем с Вами договор о поставке груза из Китая
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_4.png", alt="scheme")
                        .scheme__subtitle Доставка на наш склад
                        .scheme__descr Связываемся с Вашим поставщиком в Китае и договариваемся о доставке груза на наш склад
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_5.png", alt="scheme")
                        .scheme__subtitle Проверка груза
                        .scheme__descr Мы проверяем, собираем и упаковываем перед отправкой Ваш груз на своём складе
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_6.png", alt="scheme")
                        .scheme__subtitle Доставка груза
                        .scheme__descr Мы перевозим ваш груз до места назначения и производим таможенную очистку
                    .scheme__item
                        .scheme__icon
                            img(src="icon/scheme/icon_7.png", alt="scheme")
                        .scheme__subtitle Оплата
                        .scheme__descr Оплачиваете доставку груза при получении
        section.reviews 
            .container 
                h2.subtitle отзывы наших клиентов
                .line
                .reviews__descr Мы всегда стараемся помочь клиентам, что бы они обращались к нам снова
                .slider 
                    .slider__container
                        .slider__track
                            .slider__item 
                                .slider__avatar
                                    img(src="img/jpg/reviews/img_1.jpg", alt="avatar")
                                .slider__name Анисимова Ольга
                                .slider__text Хочу рассказать о компании Global Opt. Самое главное что меня радует, это быстрый поиск и анализ определенного товара. Доставляла через компанию уже много раз, от расходных материалов для отеля, до больших партий детской одежды. Буду продолжать пользоваться услугами данной компании
                            .slider__item 
                                .slider__avatar    
                                    img(src="img/jpg/reviews/img_2.jpg", alt="avatar")   
                                .slider__name Какая-то телка
                                .slider__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores laborum consequuntur adipisci beatae voluptas accusamus ipsum laboriosam voluptatem quod officia odit consequatur a fugiat, vel maxime voluptate distinctio totam quia!
                            .slider__item 
                                .slider__avatar    
                                    img(src="img/jpg/reviews/img_3.jpg", alt="avatar")   
                                .slider__name Дмитрий Иванов
                                .slider__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit eius earum error. Veritatis, voluptatem totam. Rem, et? Adipisci omnis eius commodi explicabo iusto quas incidunt perferendis veritatis quasi quod tempora dicta amet aut quibusdam officia, modi totam. Sint, perferendis facilis!
                    .slider__button_prev
                    .slider__button_next
        section.questions
            .container
                .title
                    h3.questions__title Остались вопросы?
                    .questions__descr Напишите нам!
                form.questions__form 
                    .questions__wrapper
                        input(type="text" placeholder="Ваше имя...")
                        input(type="text" placeholder="Ваш номер телефона...") 
                        input(type="text" placeholder="Ваш e-mail...")
                    textarea(name="massage", cols="30", rows="3" placeholder="Сообщение...")
                    button.button.questions__button отправить заявку
        section.map
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4635ed44713c7283137b4c33d1af88e3e93f6861d4db42aec3aa3c80ccf5de1b&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
        footer.footer 
            .container
                .footer__wrapUp
                    .wrapper
                        .footer__icon
                            a(href="#")
                                img(src="icon/logo.png", alt="logo")
                        .footer__text Global Opt - Доставка грузов из Китая в Россию и СНГ
                    .wrapper 
                        .footer__tel 
                            .footer__question Есть вопросы?
                            a.footer__phone(href="tel:+79264230100") +7 (926) 423 01 00
                        button.footer__button.button Перезвоните мне           
                .footer__divider
                .footer__wrapDown
                    .wrapper
                        .footer__link © 2010 Scratch.com.ua
                        .footer__politics
                            a(href="#") Политика конфидециальности
                    .wrapper 
                        .text Создание сайта:
                        .logo 
                            a(href="#")
                                img(src="icon/footer.png", alt="logo")


        script(src='js/script.js')
